<div class="bg-body dark:bg-darkmode-body">
  {{ $image:= .Params.image }}
  {{ $dimage:= .Params.darkimage}}
<div class="h-56 flex items-center justify-center">
  {{ if $image }}
    {{ if $dimage }}
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-1/2  mx-auto dark:hidden") }}
      {{ partial "image" (dict "Src" $dimage "Context" .Page "Alt" .Title "Class" "mb-6 w-1/2  mx-auto hidden dark:block") }}
    {{ else }}
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-1/2  mx-auto") }}
     {{ end }} 
  {{ end }}

</div>
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  {{ $categories:= .Params.categories }}
  {{ if $categories }}
    <ul class="mb-4">
      <li class="mr-4 inline-block">
        <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
          <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
        </a>
      </li>
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i,$p:= $categories }}
          <a
            href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
            class="ms-1"
            >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
              {{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    </ul>
  {{ end }}
  <p class="mb-6">{{ .Summary }}</p>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ T "read_more" }}
  </a>
</div>
